---
layout: simpler
---

<div class="row content1">
	<div class="col-sm-offset-2 col-sm-8">
		{% assign groups = site.ideas | group_by: "category" | sort: "seq" %}
			
		{% for group in groups %}
		    <p><span class="dateline">{{ group.name }}</span><br />
		    {% for item in group.items %}
		        <span class="titlelist"><a href="{{ item.link }}">{{item.title}}</a></span> <br />
		        {{item.content}}
		    {%endfor%}
		{%endfor%}

	</div>
</div>

<div class="row content3">
    <div class="col-sm-offset-2 col-sm-4">
    	
    	


    </div>
    <div class="col-sm-4">



    </div>
</div>

<div class="row footer">
    <div class="col-sm-offset-2 col-sm-8"></div>
</div>