---
layout: simpler
---

{% assign groups = site.ideas | group_by: "category" | sort: "seq" %}

<div class="row content1">
	<div class="col-md-12">
		
			
		{% for group in groups %}

		    <p><span class="groupname"><a id={{ group.name }}></a>{{ group.name }}</span></p>
		    {% for item in group.items %}
		        <div class="itemtitle"><a href="{{ item.link }}">{{item.title}}</a></div>
		        <div class="itemcontent">{{item.content}}</div>
		    {%endfor%}
		{%endfor%}

	</div>
</div>



<div class="row footer">
    <div class="col-md-12"></div>
</div>